<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="assets/favico.png">
    <title>Real-Time Location Tracker</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="map"></div>
    <div id="sidebar" class="collapsed">
        <div id="sidebar-toggle">
            <i class="fas fa-chevron-left"></i>
        </div>
        <div id="info-panel">
            <div class="Connected-Devices">
                <h2>Connected Devices</h2>
                <h3 id="user-count">0</h3>
            </div>
            <ul id="device-list"></ul>
            <div id="audio-controls">
                <button id="mic-btn">
                    <img src="/assets/microphone-muted-icon.png" alt="Microphone">
                </button>
                <button id="speaker-btn">
                    <img src="/assets/speaker-on-icon.png" alt="Speaker">
                </button>
            </div>
        </div>
    </div>
    <div id="name-popup" class="hidden">
        <div class="popup-content">
            <h2>Welcome to Real-Time Location Tracker 
                <img src="/assets/icons8-location.gif" 
                style="width: 26px; height: auto;"
                alt="icon-gif">
            </h2>
            <p>Assigned name:</p>
            <input type="text" id="user-name-input" placeholder="Your Name (optional)">
            <div class="popup-buttons">
                <button id="continue-btn">Continue</button>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>